---
import type { GetStaticPaths } from "astro";
import Pagination from "../components/control/Pagination.astro";
import SimpleNavbar from "../components/SimpleNavbar.astro";
import SimplePostList from "../components/SimplePostList.astro";
import { PAGE_SIZE } from "../constants/constants";
import MinimalLayout from "../layouts/MinimalLayout.astro";
import { getSortedPosts } from "../utils/content-utils";

export const getStaticPaths = (async ({ paginate }) => {
	const allBlogPosts = await getSortedPosts();
	return paginate(allBlogPosts, { pageSize: PAGE_SIZE });
}) satisfies GetStaticPaths;
// https://github.com/withastro/astro/issues/6507#issuecomment-1489916992

const { page } = Astro.props;
---

<MinimalLayout>
    <SimpleNavbar />
    <SimplePostList page={page} />
    {page.lastPage > 1 && (
        <div class="mt-12">
            <Pagination page={page} />
        </div>
    )}
</MinimalLayout>