---

import { getEntry, render } from "astro:content";
import Markdown from "@components/misc/Markdown.astro";
import SimpleNavbar from "@components/SimpleNavbar.astro";
import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";
import MinimalLayout from "../layouts/MinimalLayout.astro";

const aboutPost = await getEntry("spec", "about");

if (!aboutPost) {
	throw new Error("About page content not found");
}

const { Content } = await render(aboutPost);
---
<MinimalLayout title={i18n(I18nKey.about)} description={i18n(I18nKey.about)}>
    <SimpleNavbar />
    <div class="prose prose-lg max-w-none">
        <Markdown>
            <Content />
        </Markdown>
    </div>
</MinimalLayout>