<!-- Disable dark mode -->
<style>
  @media (prefers-color-scheme: dark) {
    body {
      background-color: #fff !important;
      color: #000 !important;
    }
    
    a {
      color: #0066cc !important;
    }
    
    a:visited {
      color: #663399 !important;
    }
    
    pre, code {
      background-color: #f5f5f5 !important;
      color: #000 !important;
    }
    
    blockquote {
      border-left-color: #ccc !important;
    }
  }
</style>

<!-- MathJax Configuration -->
<script>
  MathJax = {
    tex: {
      inlineMath: [['\\(', '\\)']],
      displayMath: [['$$', '$$']],
      processEscapes: true,
      processEnvironments: true
    },
    options: {
      skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre']
    }
  };
</script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>

